################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/frontend/blazor-app/.vs/blazor-app
/frontend/blazor-app/bin/Debug/net8.0
/frontend/blazor-app/obj
/frontend/blazor-app/.vs/ProjectEvaluation
